/*Import*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

body{
    background-color: rgb(131, 127, 127);
}

/*Navigation*/
nav a{
    cursor: pointer;
    font-family: 'Rubik Distressed', cursive;
}
#nav{
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#logo{
    margin-left: 30px;
}
#row{
    margin-left: 50px;
    justify-content: center;
}
#column{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}
#row a{
    margin-left: 50px;
    font-weight: 900;
    font-size: large;
    color: #fff;
}
nav:has(a:hover) > a:not(:hover){
    opacity: 0.4;
}

/*Page*/
#page article{
    height: 550px;
    width: auto;
}

/*Accueil*/
.home #projet_page{
    display: none;
}
.home #moi_page{
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Mes Projets*/
.projet #home_page{
    display: none;
}
.projet #moi_page{
    display: none;
}
.projet{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*À Propos de Moi*/
.moi #home_page{
    display: none;
}
.moi #projet_page{
    display: none;
}
.moi{
    display: flex;
    justify-content: center;
    align-items: center;
}