/*Navigation*/
nav{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
nav li a{
    cursor: pointer;
    margin-left: 20px;
    font-family: arial, sans-serif;
    font-weight: 900;
    color: #fff;
    
}
nav li a:hover{
    color: blue;
}

/*Page*/
#page{
    background-color: rgba(182, 182, 182, 0.582);
}
#page article{
    height: 550px;
    width: auto;
    background-image: url("font_articule.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#page article h1{
    display: flex;
    justify-content: center;
}

/*Accueil*/
.home #projet{
    display: none;
}
.home #moi{
    display: none;
}

/*Mes Projets*/
.projet #home{
    display: none;
}
.projet #moi{
    display: none;
}

/*À Propos de Moi*/
.moi #home{
    display: none;
}
.moi #projet{
    display: none;
}